html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: calc(env(safe-area-inset-top) + 1em);
    padding-bottom: calc(env(safe-area-inset-bottom) + 1em);
    padding-left: calc(env(safe-area-inset-left) + 1em);
    padding-right: calc(env(safe-area-inset-right) + 1em);
    box-sizing: border-box;
    font-family: sans-serif;
    text-align: center;
}

p {
    line-height: 1.5em;
}

.logo {
    display: none;
}

.button {
    margin-bottom: 1em;
    padding: 0.5em 1em;
    background: #ff8243;
    color: white;
    text-decoration: none;
    border-radius: 0.5em;
    transition: 0.1s;
}

.button:hover {
    background: #ffb243;
}

.hidden,
.hidden-small-device {
    display: none;
}

@media (prefers-color-scheme: light) {
    .qr {
        box-shadow: gray 0 0 10px;
    }
}

@media (min-height: 600px) {
    .logo {
        display: unset;
        width: 80px;
        height: 80px;
    }
}

@media (min-width: 600px) and (min-height: 600px) {
    .hidden-small-device:not(.hidden) {
        display: unset;
    }

    .qr {
        margin-top: 10px;
        border-radius: 10px;
        background-color: white;
    }
}